.cart-item-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.cart-item-quantity-select {
  width: 3rem;
  background-color: #EEEEEE;
  text-align: center;
  border-radius: 12px;
  border: none;
  padding: 0.5rem 0;
  cursor: pointer;
}
