.landing-page {
  padding: 60px 20px;
  text-align: center;
}

.landing-content {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.sidebar {
  min-width: 300px;
  margin-left: 2rem;
}

.filter-submit {
  margin-top: 1rem;
  width: 5rem;
}

.landing-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.landing-header {
  min-width: 15rem;
  font-size: 28px;
  min-height: 3rem;
}

.restaurant-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  width: 100%;
}

.restaurant-card {
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 200px;
  max-width: 18vw;
}

.restaurant-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  aspect-ratio: 2/1;
  min-width: 10vw;
}

.restaurant-image img {
  width: 100%;
  height: 150px;
  display: block;
  margin: 0 auto;
  border-radius: 1rem;
  object-fit: cover;
}

.restaurant-info {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

.restaurant-name {
  font-size: 1.3rem !important;
  font-weight: normal !important;
  color: black;
  line-height: 3rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 85%;
  min-width: 3rem;
}

.restaurant-rating-container {
  display: flex;
  align-items: center;
}

.restaurant-rating {
  font-size: 13px;
  margin-left: 5px;
  color: black;
  position: relative;
  /* width: 35px;
  height: 35px; */
  padding: 5px;
  border-radius: 10px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.restaurant-rating span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.restaurant-rating span {
  position: relative;
  z-index: 1;
}

.restaurant-sort-sidebar {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.restaurant-sort-sidebar label {
  margin: 5px 0;
}

.restaurant-sort-sidebar .Submit {
  font-size: 14px;
  width: 70%;
}

.top-bar-container {
  width: 100%;
  position: sticky;
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #ccc;
  padding-top: 40px;
  padding-bottom: 20px;
  white-space: nowrap;
}

@media screen and (min-width: 1200px) {
  .top-bar {
    justify-content: center;
  }
}

.type-item {
  cursor: pointer;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #555;
  text-align: center;
}

.type-item.active {
  color: #000;
  font-weight: bold;
}

.type-icon {
  width: 1fr;
  height: 1fr;
}

.type-name {
  font-size: 14px;
}

.fa-github,
.fa-linkedin {
  padding: 1px
}
