* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  height: 100%;
  min-height: 100vh;
}

img {
  user-select: none;
}

.page-container {
  padding-top: 4.5rem;
}

h1 {
  font-family: "Ramabhadra", sans-serif;
  font-size: 28px;
  font-weight: bold;
}

p,
li,
div {
  font-family: "Ramabhadra", sans-serif;
}

.hidden {
  display: none;
}

.error-msg {
  color: #ff5a5f;
  font-size: 12px;
  margin: 0 0 5px 0;
}

.skeleton {
  background-color: #eeeeee;
  border-radius: 1rem;
  animation: skeleton-loading 2s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
