body {
  margin: 0;
}

#root {
  /* height: 100%; */
  top: 0;
  display: relative;
  /* min-height: 100vh; */
}

img {
  user-select: none;
}

.page-container {
  padding-top: 5rem;
}

h1 {
  font-family: "Ramabhadra", sans-serif;
  font-size: 28px;
  font-weight: bold;
}

p,
li,
div {
  font-family: "Ramabhadra", sans-serif;
}

.hidden {
  display: none;
}
