.profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  list-style: none;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  background-color: white;
  min-width: 6rem;
  width: max-content;
  border-radius: 10px;
  top: 3.2rem;
  box-shadow: 0 0 1rem #DDDDDD;
}

.profile-button {
  all: unset;
  width: 5.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: end;
  border: 1px solid rgb(167, 167, 167);
  border-radius: 2rem;
}

.profile-button:hover {
  box-shadow: 0 0 0.5rem #CCCCCC;
  cursor: pointer;
}

.fa-user-circle {
  font-size: 2rem;
  padding-right: 0.5rem;
}

.fa-bars {
  font-size: 1.5rem;
  padding-right: 1rem;
}

.border {
  margin-left: 5%;
  width: 90%;
  border: 1px solid #DDDDDD;
}

.dropdown-button {
  all: unset;
  font: 1.2em "Fira Sans", sans-serif;
  padding: 0.5rem 1rem;
  width: 100%;
}

.dropdown-button-div {
  width: 100%;
}

.logout-button-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-button {
  font: 1.2em "Fira Sans", sans-serif;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 30px;
  border: none;
  font-size: 1rem;
}

.logout-button:hover {
  box-shadow: 0 0 0.5rem #CCCCCC;
}

.dropdown-button-div:hover {
  background-color: rgb(245, 245, 245);
}

.user-info {
  padding: 0.5rem 1rem;
  width: fit-content;
}

.login-button,
.signup-button {
  all: unset;
  font: 1.2em "Fira Sans", sans-serif;
  cursor: pointer;
  padding: 0.5rem 1rem;
}


@media (max-width: 600px) {
  .dropdown-button.hidden {
      display: inherit;
  }
}
