.item-card {
  all: unset;
}

.item-card:hover {
	box-shadow:  0 2px 2px 2px #CCCCCC;
  cursor: pointer;
}

.item-card.no-img {
	padding: 1rem;
	border-radius: 5px;
}

.item-card-name,
.item-card-price {
	margin: 0.3rem 0 0.3rem 0.5rem;
}

.item-card-img {
	aspect-ratio: 2 / 1;
	max-width: 15rem;
	object-fit: cover;
	margin: 0.5rem;
}

.item-card-price {
	color: #999999;
}
