#sidebar-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.account-sidebar {
  position: fixed;
  align-self: flex-start;
  top: 0;
  padding-top: 1.5rem;
  left: -17rem;
  width: 17rem;
  padding-right: 1rem;
  height: 100vh;
  transition: left 0.3s ease-in-out;
  background-color: white;
  z-index: 1;
}

.account-sidebar.open {
  padding-left: 1rem;
  left: 0;
}

.sidebar-main {
  padding: 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.sidebar-button-signup,
.sidebar-button-login {
  display: block;
  text-align: center;
  padding: 1.2rem 0;
  width: 16rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.sidebar-button-login {
  color: black;
  font-weight: bold;
  background-color: #EEEEEE;
}

.sidebar-button-signup {
  color: white;
  font-weight: bold;
  background-color: black;
}

.add-restaurant-link {
  text-decoration: none;
  color: black;
  margin-left: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
}


/* @media (max-width: 1100px) {
  .sidebar {
      width: 3rem;
      min-width: 3rem;
  }
  .sidebar-el.link.profile {
      padding: 0.5rem;
  }
}

@media (max-width: 700px) {
  .sidebar {
      position: fixed;
      display: block;
      width: 12rem;
      left: -14rem;
      z-index: 2;
      height: 100vh;
  }
  .sidebar.open {
      z-index: 2;
      left: 0;
  }
  .sidebar-el-name,
  .sidebar-el.title {
      display: inherit;
  }
} */
