.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
  }

  .login-form-container .form-wrapper {
    flex-grow: 1;
    max-width: 314px;
  }

  .login-form {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }
  .login-form > div {
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
  }
  .login-form > h1 {
    text-align: center;
  }
  .login-form input {
    padding: 8px;
    border-radius: 6px;
    border: 1px solid rgb(186, 191, 197);
  }
  .login-form button {
    width: 100%;
    margin-right: 0;
    text-align: center;
  }
  .login-form > div > label {
    font-size: 15px;
    font-weight: 700;
  }

  .login-form-input-container {
    flex-direction: column;
    gap: 8px;
  }
