.unavailable {
  text-align: center;
  margin: 0 4rem;
}

.restaurant-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 150vh;
}

.restaurant-banner {
  border-radius: 0;
  width: 100%;
  margin-bottom: 0;
  padding: 2rem;
  background-size: cover;
  height: 10rem;
  box-sizing: border-box;
}

.header {
  position: relative;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}

.restaurant-name {
  font-size: 2.5rem;
  margin: 1rem 0 0 0;
}

.restaurant-details {
  margin: 0.5rem 0;
}

.fa-star {
  font-size: 0.8rem;
}

.restaurant-page-cat-div {
  display: flex;
  flex-direction: column;
  width: 15rem;
  gap: 1rem;
  margin-left: 2rem;
  margin-top: 1rem;
  position: sticky;
  top: 5rem;
  height: fit-content;
}

.restaurant-page-cat {
  padding: 0.5rem 2rem;
  font-weight: bold;
  border-bottom: 3px solid white;
}

.restaurant-page-cat:hover {
  cursor: pointer;
  color: black;
}

.restaurant-page-cat.focus {
  font-weight: bolder;
  text-decoration: underline;
  color: black;
}

.menu-section {
  display: flex;
  width: 100%;
}

.cat-section {
  display: flex;
  flex-direction: column;
}

.rand-div {
  min-height: 10rem;
}
.reviews-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 2rem;
  padding-top: 30px;
}

.review-title {
  padding-left: 2rem;
  padding-bottom: 0;
}

.review-name {
  font-weight: bold;
}

.review-time {
  color: gray;
}

.reviews-list {
  list-style-type: none;
}

.review-item:not(:last-child) {
  border-bottom: 1px solid grey;
  padding-bottom: 3px;
}

.leave-review-button {
  max-width: 200px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  max-width: 200px;
}

.edit-review-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.leave-review-button:hover {
  background-color: #0056b3;
}

.delete-review-button {
  background-color: red;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.button-container {
  padding: 7px;
}

@media (max-width: 700px) {
  .restaurant-card-img.page {
    width: 8rem;
    grid-area: one;
  }
  .header-info {
    flex-direction: column;
  }
}

@media (max-width: 490px) {
  .restaurant-page-desc {
    width: 90vw;
  }
}
