.unavailable {
	text-align: center;
	margin: 0 4rem;

}

.restaurant-page {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 150vh;
}

.restaurant-banner {
	border-radius: 0;
	width: 100%;
	margin-bottom: 0;
	padding: 2rem;
	background-size: cover;
	height: 10rem;
	box-sizing: border-box;
}

.header {
	position: relative;
	left: 2rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
}

.restaurant-name {
	font-size: 2.5rem;
	margin: 1rem 0 0 0;
}

.restaurant-details {
	margin: 0.5rem 0;
}

.fa-star {
	font-size: 0.8rem;
}

.restaurant-page-cat-div {
	display: flex;
	flex-direction: column;
	width: 15rem;
	gap: 1rem;
	margin-left: 2rem;
	margin-top: 1rem;
	position: sticky;
	top: 5rem;
	height: fit-content;
}

.restaurant-page-cat {
	padding: 0.5rem 2rem;
	font-weight: bold;
	border-bottom: 3px solid white;
}

.restaurant-page-cat:hover {
	cursor: pointer;
	color: black;
}

.restaurant-page-cat.focus {
	font-weight: bolder;
	text-decoration: underline;
	color: black;
}

.menu-section {
	display: flex;
	width: 100%;
	min-height: 150vh;
}

.item-card:hover {
	box-shadow:  0 2px 3px 2px #CCCCCC;
}

.cat-section {
	display: flex;
	flex-direction: column;
}

.cat-item-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.item-card-name,
.item-card-price {
	margin: 0.3rem 0 0.3rem 0.5rem;
}

.item-card-img {
	aspect-ratio: 2 / 1;
	max-width: 15rem;
	object-fit: cover;
	margin: 0.5rem;
}

.item-card-price {
	color: #999999;
}

.rand-div {
	min-height: 10rem;
}

@media (max-width: 700px) {
	.restaurant-card-img.page {
		width: 8rem;
		grid-area: one;
	}
	.header-info {
		flex-direction: column;
	}
}

@media (max-width: 490px) {
	.restaurant-page-desc {
		width: 90vw;
	}
}
