.general-info-container .login-form-container {
  justify-content: left;
}

.general-info-container button {
  margin: 0;
  text-align: center;
}

/* .restaurant-info-table {
  text-overflow: ellipsis;
} */

.restaurant-info-table > tr > td {
  text-overflow: ellipsis;
  max-width: 10rem;
  overflow: hidden;
  white-space: nowrap;
}
