.account-settings {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 4.375rem;
  margin: 0 auto;
  padding: 2rem;
  align-items: start;
  height: 100%;
  width: 80vw;
  max-width: 600px;
}

.delete-account-button {
  all: unset;
  background-color: #e41d56;
  font-size: 12px;
  color: white;
  padding: 0.6rem;
  border-radius: 10px;
  margin-top: 5rem;
  align-self: flex-end;
  cursor: pointer;
}
