.restaurant-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.form-wrapper {
  border: 2px solid gray;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
}

.restaurant-form-container div label {
  font-weight: bold;
  padding-top: 2px;
}

.restaurant-form-container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.error {
  color: red;
}

.restaurant-form-container div input {
  width: 250px;
  text-align: center;
}

.select {
  width: 257px;
  text-align: center;
}

.submit {
  padding-top: 10px;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}
