.form-wrapper {
  border: 2px solid gray;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #333;
}
.form-wrapper h1 {
  text-align: center;
}
.form-wrapper input {
  width: 100%;
}

.error {
  color: red;
}
table {
  border-collapse: collapse;
  width: 100%;
}

table label {
  display: block;
  text-align: right;
  padding-right: 4px;
}
.select {
  width: 100%;
}

.submit {
  display: flex;
  padding-top: 10px;
  text-align: center;
}

.submit button {
  width: 100%;
  margin: 0;
}

.submit button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.submit-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

.container-padding {
  padding: 16px;
}
.cancel-button {
  display: flex;
  margin-top: 8px;
  text-align: center;
}
.cancel-button button {
  width: 100%;
  margin: 0;
}
